@using bill_Entities.Models
@using bill_Entities.ViewModel
@model SalesViewModel;

@{
    ViewBag.PageTitle = "Bill Management";
    ViewBag.CardTitle = "Create Bill";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="mb-3">
                <label asp-for="SalesInvoices.DateTime" class="form-label"></label>
                <input asp-for="SalesInvoices.DateTime" disabled  class="form-control" />
                <span asp-validation-for="SalesInvoices.DateTime" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SalesInvoices.BillsCode" class="form-label"></label>
                <input asp-for="SalesInvoices.BillsCode" disabled class="form-control" />
                <span asp-validation-for="SalesInvoices.BillsCode" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SalesInvoices.ClientId" class="form-label"></label>
                <select asp-for="SalesInvoices.ClientId" required class="form-control" asp-items="Model.ClientsList">
                    <option disabled selected>--Select Client--</option>
                </select>
                <span asp-validation-for="SalesInvoices.ClientId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SalesInvoices.TableItemId" class="form-label"></label>
                <select asp-for="SalesInvoices.TableItemId" required class="form-control" asp-items="Model.ItemsList">
                    <option disabled selected>--Select Item--</option>
                </select>
                <span asp-validation-for="SalesInvoices.TableItemId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SalesInvoices.Price" class="form-label"></label>
                <input asp-for="SalesInvoices.Price" disabled class="form-control" />
                <span asp-validation-for="SalesInvoices.Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SalesInvoices.Quintity" class="form-label"></label>
                <input asp-for="SalesInvoices.Quintity"  class="form-control" />
                <span asp-validation-for="SalesInvoices.Quintity" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SalesInvoices.Total" class="form-label"></label>
                <input asp-for="SalesInvoices.Total" disabled class="form-control" />
                <span asp-validation-for="SalesInvoices.Total" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SalesInvoices.Discount" class="form-label"></label>
                <input asp-for="SalesInvoices.Discount"  class="form-control" />
                <span asp-validation-for="SalesInvoices.Discount" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SalesInvoices.NetPrice" class="form-label"></label>
                <input asp-for="SalesInvoices.NetPrice" disabled class="form-control" />
                <span asp-validation-for="SalesInvoices.NetPrice" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SalesInvoices.PaidUp" class="form-label"></label>
                <input asp-for="SalesInvoices.PaidUp"  class="form-control" />
                <span asp-validation-for="SalesInvoices.PaidUp" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SalesInvoices.TheRest" class="form-label"></label>
                <input asp-for="SalesInvoices.TheRest" disabled class="form-control" />
                <span asp-validation-for="SalesInvoices.TheRest" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <button type="submit" value="Create" class="btn btn-outline-success" style="width:120px;height:40px">Save</button> ||
                <a class="btn btn-outline-danger" style="width:120px;height:40px" asp-action="Index" asp-controller="SalesInvoice">Go To Home</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
