@using bill_Entities.Models
@using bill_Entities.Repoistory
@using bill_Entities.ViewModel
@model TypeViewModel;
@inject ICompanyRepoistory Comp;

@{
    ViewBag.PageTitle = "Type Management";
    ViewBag.CardTitle = "Create Type";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Type" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="CompanyId" class="form-label"></label>
                <select asp-for="CompanyId" required class="form-control" >
                    <option disabled selected>--Select Company--</option>
                    @foreach(var item in Comp.GetAll())
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TypeName" class="form-label"></label>
                <input asp-for="TypeName" required class="form-control" />
                <span asp-validation-for="TypeName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Notes" class="form-label"></label>
                <textarea asp-for="Notes" required class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-outline-success" style="width:120px;height:40px">Save</button> ||
                <a class="btn btn-outline-danger" style="width:120px;height:40px" asp-action="Index" asp-controller="Type">Go To Home</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
